{% extends 'base.html' %}

{% block pagetitle %}
    Dashbaord
{% endblock %}

{% block  pagecontent %}

    <div class="dashboard-header">
        <h1>Dashboard</h1>
        <p>Library overview</p>
    </div>

    <div class="stats">
        
                
        <div class="stat-card">
            <h3>Seats</h3>
            <p>0</p>
        </div>
        
        <div class="stat-card">
            <h3>Occupied Seats</h3>
            <p>0</p>
        </div>
        
        <div class="stat-card">
            <h3>Available Seats</h3>
            <p>0</p>
        </div>

        <div class="stat-card">
            <h3>Total Earning</h3>
            <p>0</p>
        </div>

        <div class="stat-card">
            <h3>Total Members</h3>
            <p>0</p>
        </div>
    </div>


{% endblock %}